In [9]:
# SYEDA ZAINAB FATIMA
# WS25-PAK-INP-AI01
# PYTHON BASIC PROJECT

In [102]:
# TOPIC : EXPLORING THE SOLAR SYSTEM USING PYTHON

In [98]:
# VARIABLES

# INTRODUCTION TO PLANETS

PLANETS = "Any of the large bodies that revolve around the Sun in the solar system."
print(PLANETS)

print("Now let's see the planets")

PLANET_1 = "MERCURY"
PLANET_2 = "VENUS"
PLANET_3 = "EARTH"
PLANET_4 = "MARS"
PLANET_5 = "JUPITER"
PLANET_6 = "SATURN"
PLANET_7 = "URANUS"
PLANET_8 = "NEPTUNE"

print(PLANET_1)
print(PLANET_2)
print(PLANET_3)
print(PLANET_4)
print(PLANET_5)
print(PLANET_6)
print(PLANET_7)
print(PLANET_8)


print("The planets are divided into two parts")

part_1 = "INNER PLANETS"
PART_2 = "OUTER PLANETS"

INNER_PLANETS = ("The first four planets are inner planets,they are also called Terrestrial planets : Mercury, venus, earth, mars")
OUTER_PLANETS = ("The last four planets are outer planets, they have swirling gas above a core : Jupiter, Saturn, Uranus, Neptune")

print(INNER_PLANETS)
print(OUTER_PLANETS)

Any of the large bodies that revolve around the Sun in the solar system.
Now let's see the planets
MERCURY
VENUS
EARTH
MARS
JUPITER
SATURN
URANUS
NEPTUNE
The planets are divided into two parts
The first four planets are inner planets,they are also called Terrestrial planets : Mercury, venus, earth, mars
The last four planets are outer planets, they have swirling gas above a core : Jupiter, Saturn, Uranus, Neptune

In [13]:
# INNER PLANETS

In [14]:
# MERCURY DATA TYPES

#STRINGS
MERCURY = "The smallest planet in our solar system and nearest to the Sun"
print(MERCURY)

TEMP_CONDITIONS = "Mercury's surface temperatures are both extremely hot and cold"
print(TEMP_CONDITIONS)

# INTEGER
M_DTEMP = 430
M_NTEMP = -180
print(M_DTEMP)
print(M_NTEMP)

# FLOAT
M_AU = 0.4
sunlight_travel = 3.2
print(M_AU)
print(sunlight_travel)

# BOOLEAN
is_M_hottest_planet = "False"
is_M_Fastest_planet = "True"
print(is_M_hottest_planet)
print(is_M_Fastest_planet)

type(MERCURY)
type(TEMP_CONDITIONS)
type(M_DTEMP)
# type(M_NTEMP)
type(M_AU)
# type(sunlight_travel)
type(is_M_hottest_planet)
# type(is_M_Fastest_planet)

The smallest planet in our solar system and nearest to the Sun
Mercury's surface temperatures are both extremely hot and cold
430
-180
0.4
3.2
False
True

str

In [15]:
# MERCURY INPUTS AND TYPE CASTING

# STRING
PLANET_MERCURY = input("Please enter the first planet: ")

# FLOAT
Astronomical_unit_mercury = float(input("Please enter the AU of mercury planet: "))

# INTEGER
MERCURY_DTEMP = int(input("Please enter the DTEMP of mercury planet: "))
MERCURY_NTEMP = int(input("Please enter the NTEMP of mercury planet: "))

# BOOLEAN
is_m_hottest = bool(input("is Mercury the hottest planet?: "))
is_m_fastest = bool(input("is Mercury the fastest planet?: "))

Please enter the first planet: mercury
Please enter the AU of mercury planet: 0.4
Please enter the DTEMP of mercury planet: 430
Please enter the NTEMP of mercury planet: 150
is Mercury the hottest planet?: yes
is Mercury the fastest planet?: yes

In [101]:
# MERCURY AND OPERATORS

# ARITHEMATIC OPERATORS
M_RADIUS =  2439.7
M_ORBIT_RADIUS = 57910000

print(M_RADIUS)
print(M_ORBIT_RADIUS)

# OPERATIONS
DIAMETER = M_RADIUS * 2   # MULTIPLICATION
HALF_ORBIT = M_ORBIT_RADIUS / 2   # DIVISION
ORBIT_ADD_10 = M_ORBIT_RADIUS + 10000  # ADDITION
ORBIT_SUB_10 = M_ORBIT_RADIUS - 10000  # SUBTRACTION

print(DIAMETER)
print(HALF_ORBIT)
print(ORBIT_ADD_10)
print(ORBIT_SUB_10)

# ASSIGNMENT OPERATORS
D_TEMP = 430
N_TEMP = -180

print(D_TEMP)
print(N_TEMP)

D_TEMP = 20
N_TEMP = 20
MD_DTEMP = 2
DH_NTEMP = 2

D_TEMP += 20
N_TEMP -= 20
MD_DTEMP *= 2
DH_NTEMP /= 2

print(D_TEMP)
print(N_TEMP)
print(MD_DTEMP)
print(DH_NTEMP)

# COMPARISON OPERATORS
M_DAYS_ORBITS = 88
DAYS_GUESS = 88
print(M_DAYS_ORBITS == DAYS_GUESS)
print(M_DAYS_ORBITS != DAYS_GUESS)
print(M_DAYS_ORBITS > DAYS_GUESS)
print(M_DAYS_ORBITS < DAYS_GUESS)
print(M_DAYS_ORBITS >= DAYS_GUESS)
print(M_DAYS_ORBITS <= DAYS_GUESS)

# LOGICAL OPERATORS
M_is_closest_sun = True
M_is_hottest_planet = False

print(M_is_closest_sun and M_is_hottest_planet )
print(M_is_closest_sun or M_is_hottest_planet )
print(not (M_is_hottest_planet))
print(not (M_is_closest_sun))

2439.7
57910000
4879.4
28955000.0
57920000
57900000
430
-180
40
0
4
1.0
True
False
False
False
True
True
False
True
True
False

In [19]:
# MERCURY AND CONDITIONS
Mercury_orbits = 85
if Mercury_orbits < 90:
  print("mercury is the fastest planet")
else:
  print("mercury is not the fastest planet")

mercury_temp = 400
if mercury_temp > 400:
  print("mercury is the hottest planet")
elif mercury_temp == 400:
  print("it is not extremely hot")
else:
  print("it is moderately hot")

mercury is the fastest planet
it is not extremely hot

In [20]:
# MERCURY AND LOOPS

# FOR LOOPS
for x in "mercury":
  print(x)

name ="mercury"
for x in name:
  print(name)


# WHILE LOOPS
Mercury_moons = 0
while Mercury_moons < 5:
  Mercury_moons += 1
  print(Mercury_moons)

days = 88
while days > 0:
  days -= 1
  print(days)

m
e
r
c
u
r
y
mercury
mercury
mercury
mercury
mercury
mercury
mercury
1
2
3
4
5
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [21]:
# MERCURY AND FUNCTIONS
def mercury_planet():
  print("mercury is the smallest planet in our solar system")
mercury_planet()

def mer_planet():
  print("mercury is the first planet from the sun")
mer_planet()

mercury is the smallest planet in our solar system
mercury is the first planet from the sun

In [82]:
# VENUS DATA TYPES

# STRING
VENUS = "It's the hottest planet in our solar system, and is sometimes called Earth's twin."
print(VENUS)

# INTEGER
V_TEMP = 475
print(V_TEMP)

# FLOAT
V_AU = 0.72
V_sunlight_travel = 6.0
print(V_AU)
print(V_sunlight_travel)

# BOOLEAN
is_V_hottest_planet = "True"
is_V_Fastest_planet = "False"
print(is_V_hottest_planet)
print(is_V_Fastest_planet)

type(VENUS)
type(V_TEMP)
type(V_AU)
type(V_sunlight_travel)
type(is_V_hottest_planet)

It's the hottest planet in our solar system, and is sometimes called Earth's twin.
475
0.72
6.0
True
False

str

In [27]:
# VENUS INPUTS AND TYPE CASTING

# STRING
PLANET_VENUS = input("Please enter the second planet: ")

# FLOAT
Astronomical_unit_venus = float(input("Please enter the AU of venus planet: "))

# INTEGER
V_TEMP = int(input("Please enter the temperature of venus planet: "))

# BOOLEAN
is_V_hottest = bool(input("is Venus the hottest planet?: "))
is_V_fastest = bool(input("is Venus the fastest planet?: "))

Please enter the second planet: Venus
Please enter the AU of venus planet: 0.72
Please enter the temperature of venus planet: 475
is Venus the hottest planet?: True
is Venus the fastest planet?: False

In [32]:
# VENUS AND OPERATORS

# ARITHEMATIC OPERATORS
V_ORBIT_TIME = 225
V_ORBIT_RADIUS = 6051.8

V_DIAMETER = V_ORBIT_RADIUS * 2
V_HALF_ORBIT = V_ORBIT_TIME / 2
V_ADD_ORBIT_TIME = V_ORBIT_TIME + 10
V_SUB_ORBIT_TIME = V_ORBIT_TIME - 10

print(V_DIAMETER)
print(V_HALF_ORBIT)
print(V_ADD_ORBIT_TIME)
print(V_SUB_ORBIT_TIME)

# ASSIGNMNET OPERATORS
venus_temp = 475  # in Celsius
venus_Add_temp = 5
venus_Sub_temp = 10
venus_Mul_temp = 2
venus_Div_temp = 2


venus_Add_temp += 5
venus_Sub_temp -= 10
venus_Mul_temp *= 2
venus_Div_temp /= 2

print(venus_Add_temp)
print(venus_Sub_temp)
print(venus_Mul_temp)
print(venus_Div_temp)

# COMPARISON OPERATORS
one_Day_venus = 243 # Earth days
one_Day_guess = 245
print(one_Day_venus == one_Day_guess)
print(one_Day_venus != one_Day_guess)
print(one_Day_venus > one_Day_guess)
print(one_Day_venus < one_Day_guess)
print(one_Day_venus >= one_Day_guess)
print(one_Day_venus <= one_Day_guess)

# LOGICAL OPERATORS
V_is_hottest_planet = True
V_is_fastest_planet = False
print(V_is_hottest_planet and V_is_fastest_planet)
print(V_is_hottest_planet or V_is_fastest_planet)
print(not(V_is_hottest_planet))
print(not(V_is_fastest_planet))

12103.6
112.5
235
215
10
0
4
1.0
False
True
False
True
False
True
False
True
False
True

In [33]:
# VENUS AND CONDITIONS

VENUS_TEMPERATURE = 300
if VENUS_TEMPERATURE > 400:
  print("venus is the hottest planet")
else:
  print("venus is not the hottest planet")

VENUS_GRAVITY = 8.87
EARTH_GRAVITY = 9.81
if VENUS_GRAVITY > EARTH_GRAVITY:
  print("venus has stronger gravity")
elif VENUS_GRAVITY == EARTH_GRAVITY:
  print("they both has the same gravity")
else:
  print("venus has weaker gravity")

venus is not the hottest planet
venus has weaker gravity

In [34]:
# VENUS AND LOOPS

# FOR LOOPS
for i in range(5):
  print("Venus rotation")

property_venus = "hottest planet"
for i in property_venus:
  print(property_venus)

# WHILE LOOPS

COUNT = 0
while COUNT < 5:
  COUNT += 1
  print("venus is hottest planet")

Venus rotation
Venus rotation
Venus rotation
Venus rotation
Venus rotation
hottest planet
hottest planet
hottest planet
hottest planet
hottest planet
hottest planet
hottest planet
hottest planet
hottest planet
hottest planet
hottest planet
hottest planet
hottest planet
hottest planet
venus is hottest planet
venus is hottest planet
venus is hottest planet
venus is hottest planet
venus is hottest planet

In [97]:
# VENUS AND FUCTIONS
def venus_planet():
  print("venus is the second and the hottest planet")
venus_planet()
def venus_SName():
  print("It's the hottest planet in our solar system, and is sometimes called Earth's twin.")
venus_SName()

venus is the second and the hottest planet
It's the hottest planet in our solar system, and is sometimes called Earth's twin.

In [83]:
# EARTH DATA TYPES

# STRING
EARTH = "our home planet is the third planet from the Sun, and the fifth largest planet. It's the only place we know of inhabited by living things."
print(EARTH)

# INTEGER
Equatorial_diameter = 7926
print(Equatorial_diameter)

# FLOAT
one_rotation = 23.9
print(one_rotation)

# BOOLEAN
does_Earth_has_moon = True
print(does_Earth_has_moon)

type(EARTH)
type(Equatorial_diameter)
type(one_rotation)
type(does_Earth_has_moon)

our home planet is the third planet from the Sun, and the fifth largest planet. It's the only place we know of inhabited by living things.
7926
23.9
True

bool

In [41]:
# EARTH INPUT AND TYPE CASTING

#STRING
Earth_planet = input("Enter the name of the planet: ")

# INTEGER
EQ_D_earth = int(input("enter the earth equatorial diameter: "))

# FLOAT
ASU_earth = float(input("enter the earth astronomical unit: "))

# BOOLEAN
earth_moon = bool(input("does earth has a moon? "))

print(Earth_planet)
print(EQ_D_earth)
print(ASU_earth)
print(earth_moon)

Enter the name of the planet: Earth
enter the earth equatorial diameter: 7926
enter the earth astronomical unit: 1.0
does earth has a moon? True
Earth
7926
1.0
True

In [84]:
# EARTH OPERATORS

# ARITHEMATIC OPERATORS
Earth_radius = 6371
Earth_orbit_radius = 365

Earth_diameter = Earth_radius * 2
Earth_half_orbit = Earth_orbit_radius / 2
Earth_add_orbit = Earth_orbit_radius + 10
Earth_sub_orbit = Earth_orbit_radius - 10

print(Earth_diameter)
print(Earth_half_orbit)
print(Earth_add_orbit)
print(Earth_sub_orbit)

# ASSIGNMENT OPERATORS
Earth_inner_temp = 5400
Earth_inner_temp_add = 20
Earth_inner_temp_sub = 20
Earth_inner_temp_mul = 2
Earth_inner_temp_div = 2

Earth_inner_temp_add += 20
Earth_inner_temp_sub -= 20
Earth_inner_temp_mul *= 2
Earth_inner_temp_div /= 2

print(Earth_inner_temp)
print(Earth_inner_temp_add)
print(Earth_inner_temp_sub)
print(Earth_inner_temp_mul)
print(Earth_inner_temp_div)

# COMPARISON OPERATORS
Earth_days_orbit = 365
Earth_days_guess = 360

print(Earth_days_orbit == Earth_days_guess)
print(Earth_days_orbit != Earth_days_guess)
print(Earth_days_orbit > Earth_days_guess)
print(Earth_days_orbit < Earth_days_guess)
print(Earth_days_orbit >= Earth_days_guess)
print(Earth_days_orbit <= Earth_days_guess)

# LOGICAL OPERATORS
earth_has_rings = "False"
life_on_earth = "True"
print(earth_has_rings and life_on_earth)
print(earth_has_rings or life_on_earth)
print(not(life_on_earth))
print(not(earth_has_rings))

12742
182.5
375
355
5400
40
0
4
1.0
False
True
True
False
True
False
True
False
False
False

In [45]:
# EARTH AND CONDITIONS
EARTH_RADIUS = 6371
if EARTH_RADIUS == 6371:
  print("it matches the known measurement")
else:
  print("it does not")

EARTH_TILT = 21.5
if EARTH_TILT > 23.5:
  print("Earth has larger axial tilt")
elif EARTH_TILT == 23.5:
  print("it has standard axial tilt")
else:
  print("it has smaller axial tilt")

it matches the known measurement
it has smaller axial tilt

In [46]:
# EARTH AND LOOPS

# FOR LOOPS
for i in range(3):
  print("Earth completes one rotation in 24 hours")

name = "Earth"
for x in range(3):
  print(name)

# WHILE LOOPS
count = 0
while count < 2:
  count +=1
  print("earth completes a day")

hours = 24
while hours >0:
  hours -=1
  print(hours)

Earth completes one rotation in 24 hours
Earth completes one rotation in 24 hours
Earth completes one rotation in 24 hours
Earth
Earth
Earth
earth completes a day
earth completes a day
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [47]:
# EARTH AND FUNCTIONS
def earth_planet():
  print("Earth is the only planet where survival is possible")
earth_planet()

def earth_moon():
  print("earth has its own moon")
earth_moon()

Earth is the only planet where survival is possible
earth has its own moon

In [85]:
# MARS AND DATA TYPES

# STRING
MARS = "Mars, the fourth planet from the Sun,its a dusty, cold, desert world with a very thin atmosphere."
print(MARS)

# INTEGER
Mars_radius = 2106
print(Mars_radius)

# FLOAT
Mars_AU = 1.5
print(Mars_AU)

#BOOLEAN
does_mars_has_two_moons = "True"
print(does_mars_has_two_moons)

type(MARS)
type(Mars_radius)
type(Mars_AU)
type(does_mars_has_two_moons)

Mars, the fourth planet from the Sun,its a dusty, cold, desert world with a very thin atmosphere.
2106
1.5
True

str

In [86]:
# MARS INPUT AND TYPE CASTING

# STRING
MARS_Planet = input("Enter the name of the planet: ")
print(MARS_Planet)

# FLOAT
Mars_AU = float(input("Enter the AU of the planet: "))
print(Mars_AU)

# INTEGER
Mars_Radius = int(input("Enter the radius of the planet: "))
print(Mars_Radius)

# BOOLEAN
does_mars_has_two_moons = bool(input("does mars has two moons? "))
print(does_mars_has_two_moons)

Enter the name of the planet: MARS
MARS
Enter the AU of the planet: 1.5
1.5
Enter the radius of the planet: 2106
2106
does mars has two moons? True
True

In [52]:
# MARS AND OPERATIONS

# ARITHEMATIC OPERATORS
mars_radius = 3389.5
mars_orbit_days = 687

MARS_DIAMETER = mars_radius * 2
MARS_HALF_ORBIT = mars_orbit_days / 2
MARS_ADD_ORBIT = mars_orbit_days + 10
MARS_SUB_ORBIT = mars_orbit_days - 10

print(MARS_DIAMETER)
print(MARS_HALF_ORBIT)
print(MARS_ADD_ORBIT)
print(MARS_SUB_ORBIT)

# ASSIGNMENT OPERATORS
MARS_TEMP = 20
MARS_TEMP_ADD = 20
MARS_TEMP_SUB = 5
MARS_TEMP_MUL = 5
MARS_TEMP_DIV = 5

MARS_TEMP_ADD += 20
MARS_TEMP_SUB -= 5
MARS_TEMP_MUL *= 5
MARS_TEMP_DIV /= 5

print(MARS_TEMP)
print(MARS_TEMP_ADD)
print(MARS_TEMP_SUB)
print(MARS_TEMP_MUL)
print(MARS_TEMP_DIV)

# COMPARISON OPERATORS
mars_radius = 3389.5
earth_radius = 6371
print(mars_radius == earth_radius)
print(mars_radius != earth_radius)
print(mars_radius > earth_radius)
print(mars_radius < earth_radius)
print(mars_radius >= earth_radius)
print(mars_radius <= earth_radius)

# LOGICAL OPERATORS
MARS_RINGS = "False"
MARS_MOONS = "True"
print(MARS_RINGS and MARS_MOONS)
print(MARS_RINGS or MARS_MOONS)
print(not(MARS_RINGS))
print(not(MARS_MOONS))

6779.0
343.5
697
677
20
40
0
25
1.0
False
True
False
True
False
True
True
False
False
False

In [53]:
# MARS AND CONDITIONS
Mars_moons = 1
if Mars_moons > 1:
  print("mars has multiple moons")
else:
  print("it has one moon or no moon")

mars_temp = -60  # in Celsius
earth_temp = 15  # in Celsius
if mars_temp < earth_temp:
    print("Mars is colder than Earth.")
elif mars_temp == earth_temp:
    print("Mars and Earth have similar temperatures.")
else:
    print("Mars is warmer than Earth.")

it has one moon or no moon
Mars is colder than Earth.

In [54]:
# MARS AND LOOPS

# FOR LOOPS
future_prediction = "life on mars"
for x in range(3):
  print(future_prediction)

for x in range(5):
  print("mars")

# WHILE LOOPS
count = 0
while count < 4:
    print("Mars completes part of its orbit.")
    count += 1

life on mars
life on mars
life on mars
mars
mars
mars
mars
mars
Mars completes part of its orbit.
Mars completes part of its orbit.
Mars completes part of its orbit.
Mars completes part of its orbit.

In [95]:
# MARS AND FUNCTIONS
def mars_mystery():
  print("Mars can be a survival planet in the near future")
mars_mystery()

def mars_characteristics():
  print("This dynamic planet has seasons, polar ice caps, extinct volcanoes, canyons and weather.")
mars_characteristics()

Mars can be a survival planet in the near future
This dynamic planet has seasons, polar ice caps, extinct volcanoes, canyons and weather.

In [56]:
# OUTER PLANETS

In [87]:
# JUPITER DATA TYPES

# STRING
JUPITER = "Jupiter is a world of extremes. It's the largest planet in our solar system, if it were a hollow shell, 1,000 Earths could fit inside"
print(JUPITER)

# INTEGER
J_AVG_DIS=484
print(J_AVG_DIS)

# FLOAT
J_AU=5.2
print(J_AU)

# BOOLEAN
J_rings = True
print(J_rings)

Jupiter is a world of extremes. It's the largest planet in our solar system, if it were a hollow shell, 1,000 Earths could fit inside
484
5.2
True

In [88]:
# JUPITER INPUT AND TYPE CASTING

# STRING
jupiter_planet = input("Enter the name of the planet: ")
print(jupiter_planet)

# INTEGER
jupiter_dis = int(input("Enter the Avg distance of the planet: "))
print(jupiter_dis)

# FLOAT
jupiter_AU = float(input("Enter the AU of the planet: "))
print(jupiter_AU)

# BOOLEAN
jupiter_rings = bool(input("does jupiter has rings? "))
print(jupiter_rings)

Enter the name of the planet: JUPITER'
JUPITER'
Enter the Avg distance of the planet: 484
484
Enter the AU of the planet: 5.2
5.2
does jupiter has rings? true
True

In [60]:
# JUPITER AND OPERATIONS

# ARITHMETIC OPERATORS
jupiter_radius = 69911
jupiter_orbit_days = 4333

diameter_J = jupiter_radius * 2  # Multiplication
half_orbit = jupiter_orbit_days / 2  # Division
increased_orbit = jupiter_orbit_days + 100  # Addition
reduced_orbit = jupiter_orbit_days - 100

print(diameter_J)
print(half_orbit)
print(increased_orbit)
print(reduced_orbit)

# ASSIGNMENT OPERATORS
jupiter_avg_temp = -145  # in Celsius

jupiter_avg_Add_temp = 10
jupiter_avg_Sub_temp = 5
jupiter_avg_Mul_temp = 2
jupiter_avg_div_temp = 2

jupiter_avg_Add_temp += 10  # Increase by 10
jupiter_avg_Sub_temp -= 5  # Decrease by 5
jupiter_avg_Mul_temp *= 2  # Double the temperature
jupiter_avg_div_temp /= 2  # Half the temperature

print(jupiter_avg_Add_temp)
print(jupiter_avg_Sub_temp)
print(jupiter_avg_Mul_temp)
print(jupiter_avg_div_temp)

# COMPARISON OPERATORS
jupiter_radius = 69911  # in km
earth_radius = 6371
print(jupiter_radius == earth_radius)
print(jupiter_radius != earth_radius)
print(jupiter_radius > earth_radius)
print(jupiter_radius < earth_radius)
print(jupiter_radius >= earth_radius)
print(jupiter_radius <= earth_radius)

# LOGICAL OPERATORS
J_moons = True
J_rings = True
print(J_moons and J_rings)
print(J_moons or J_rings)
print(not(J_moons))
print(not(J_rings))

139822
2166.5
4433
4233
20
0
4
1.0
False
True
True
False
True
False
True
True
False
False

In [61]:
# JUPITER AND CONDITIONS
jupiter_diameter = 139821
if jupiter_diameter > 139820:
  print("jupiter is the largest planet")
else:
  print("jupiter is not the largest planet")

jupiter_diameter = 139819  # in km
if jupiter_diameter > 140000:
    print("Jupiter's diameter is extremely large.")
elif jupiter_diameter == 139820:
    print("Jupiter's diameter is exactly 139,820 km.")
else:
    print("Jupiter's diameter is smaller than expected.")

jupiter is the largest planet
Jupiter's diameter is smaller than expected.

In [62]:
# JUPITER AND LOOPS

# FOR LOOPS
for x in range(5):
  print("jupiter is the largest planet")
jupiter_radius = "large radius than other planets"
for x in range(4):
  print(jupiter_radius)

# WHILE LOOPS
count = 0
while count < 5:
  count += 1
  print("jupiter is the largest planet")

rings = 5
while rings > 0:
  rings -= 1
  print("5 rings")

jupiter is the largest planet
jupiter is the largest planet
jupiter is the largest planet
jupiter is the largest planet
jupiter is the largest planet
large radius than other planets
large radius than other planets
large radius than other planets
large radius than other planets
jupiter is the largest planet
jupiter is the largest planet
jupiter is the largest planet
jupiter is the largest planet
jupiter is the largest planet
5 rings
5 rings
5 rings
5 rings
5 rings

In [89]:
# JUPITER AND FUCNTIONS
def jupiter_planet():
  print("Jupiter is the largest planet")
jupiter_planet()

def jupiter_moons():
  print("jupiter has 4 large moons")
jupiter_moons()

Jupiter is the largest planet
jupiter has 4 large moons

In [64]:
# SATURN DATA TYPES

#STRING
SATURN = "Saturn is the sixth planet from the Sun, and the second-largest planet in our solar system."
print(SATURN)

# INTEGER
EQ_DIAMETER_J = 74,897
print(EQ_DIAMETER_J)

# FLOAT
Saturn_AU = 9.5
print(Saturn_AU)

# BOOLEAN
Saturn_moons = True
print(Saturn_moons)

Saturn is the sixth planet from the Sun, and the second-largest planet in our solar system.
(74, 897)
9.5
True

In [65]:
# SATURN INPUT AND TYPE CASTING

#STRING
saturn_planet = input("Enter the name of the planet: ")
print(saturn_planet)

# FLOAT
saturn_AU = float(input("Enter the AU of the planet: "))
print(saturn_AU)

# INTEGER
saturn_Diam = int(input("Enter the diameter of the planet: "))
print(saturn_Diam)

# BOOLEAN
saturn_moons = bool(input("does saturn has moons? "))
print(saturn_moons)

Enter the name of the planet: Saturn
Saturn
Enter the AU of the planet: 9.5
9.5
Enter the diameter of the planet: 74897
74897
does saturn has moons? True
True

In [68]:
# SATURN AND OPERARIONS

# ARITHEMATIC OPERATORS
saturn_radius = 58232
saturn_orbit_days = 10759

diameter_saturn = saturn_radius * 2  # Multiplication
half_orbit = saturn_orbit_days / 2  # Division
increased_orbit = saturn_orbit_days + 100  # Addition
reduced_orbit = saturn_orbit_days - 100

print(diameter_saturn)
print(half_orbit)
print(increased_orbit)
print(reduced_orbit)

# ASSIGNMENT OPERATORS
saturn_avg_temp = -178  # in Celsius
saturn_avg_Add_temp = 10
saturn_avg_Sub_temp = 5
saturn_avg_Mul_temp = 2
saturn_avg_Div_temp = 2


saturn_avg_Add_temp += 10  # Increase by 10
saturn_avg_Sub_temp -= 5  # Decrease by 5
saturn_avg_Mul_temp *= 2  # Double the temperature
saturn_avg_Div_temp /= 2  # Halve the temperature

print(saturn_avg_temp)
print(saturn_avg_Add_temp)
print(saturn_avg_Sub_temp)
print(saturn_avg_Mul_temp)
print(saturn_avg_Div_temp)

# COMPARISON OPERATORS
saturn_radius = 58232  # in km
earth_radius = 6371
print(saturn_radius == earth_radius)
print(saturn_radius != earth_radius)
print(saturn_radius > earth_radius)
print(saturn_radius < earth_radius)
print(saturn_radius >= earth_radius)
print(saturn_radius <= earth_radius)

# LOGICAL OPERATORS
saturn_moons = True
saturn_rings = True
print(saturn_moons and saturn_rings)
print(saturn_moons or saturn_rings)
print(not(saturn_moons))
print(not(saturn_rings))

116464
5379.5
10859
10659
-178
20
0
4
1.0
False
True
True
False
True
False
True
True
False
False

In [69]:
# SATURN AND CONDITIONS
saturn_radius = 60268
if saturn_radius > 58000:
  print("saturn's radius is larger than earth's radius")
else:
  print("it is not larger than earth")

saturn_moons = 79
jupiter_moons = 79
if saturn_moons > jupiter_moons:
  print("saturn has more moons than jupiter")
elif saturn_moons == jupiter_moons:
  print("they both have same moons")
else:
  print("saturn has less moons")

saturn's radius is larger than earth's radius
they both have same moons

In [70]:
# SATURN AND LOOPS

# FOR LOOPS
for x in range(2):
  print("saturn")
saturn_moon = "yes"
for x in range(3):
  print(saturn_moon)

# WHILE LOOPS
i = 0
while i < 5:
  i += 1
  print("saturn has 82 moons")

saturn
saturn
yes
yes
yes
saturn has 82 moons
saturn has 82 moons
saturn has 82 moons
saturn has 82 moons
saturn has 82 moons

In [71]:
# SATURN AND FUNCTIONS
def saturn_planet():
  print("saturn has a ring around the planet")
saturn_planet()

def saturn_moons():
  print("saturn has 82 moons")
saturn_moons()

saturn has a ring around the planet
saturn has 82 moons

In [91]:
# URANUS AND DATA TYPES

# STRING
URANUS = "Uranus is the seventh planet from the Sun, and it has the third largest diameter of planets in our solar system"
print(URANUS)

# INTEGER
URANUS_AVG_DIS = 192
print(URANUS_AVG_DIS)

# FLOAT
URANUS_AU = 19.0
print(URANUS_AU)

# BOOLEAN
URANUS_MOONS = True
print(URANUS_MOONS)

Uranus is the seventh planet from the Sun, and it has the third largest diameter of planets in our solar system
192
19.0
True

In [92]:
# URANUS INPUT AND TYPE CASTING

#STRING
uranus_planet = input("Enter the name of the planet that has the third largest diameter: ")
print(uranus_planet)

# FLOAT
uranus_AU = float(input("Enter the AU of the planet: "))
print(uranus_AU)

# INTEGER
uranus_diam = int(input("Enter the diameter of the planet: "))
print(uranus_diam)

# BOOLEAN
uranus_moons = bool(input("does uranus has moons? "))
print(uranus_moons)

Enter the name of the planet that has the third largest diameter: Uranus
Uranus
Enter the AU of the planet: 19.0
19.0
Enter the diameter of the planet: 31763
31763
does uranus has moons? true
True

In [74]:
# URANUS AND OPERATIONS

# ARITHMETIC OPERATIONS
uranus_radius = 25362  # in km
uranus_orbit_days = 30687  # days to orbit the Sun

diameter_uranus = uranus_radius * 2  # Multiplication
half_orbit = uranus_orbit_days / 2  # Division
increased_orbit = uranus_orbit_days + 500  # Addition
reduced_orbit = uranus_orbit_days - 200  # Subtraction

print(diameter_uranus)
print(half_orbit)
print(increased_orbit)
print(reduced_orbit)

# ASSIGNMENT OPERATIONS
uranus_avg_temp = -224  # in Celsius
uranus_avg_add_temp = 10
uranus_avg_sub_temp = 5
uranus_avg_mul_temp = 2
uranus_avg_div_temp = 2

uranus_avg_add_temp += 10  # Increase by 10
uranus_avg_sub_temp -= 5  # Decrease by 5
uranus_avg_mul_temp *= 2  # Double the temperature
uranus_avg_div_temp /= 2

print(uranus_avg_temp)
print(uranus_avg_add_temp)
print(uranus_avg_sub_temp)
print(uranus_avg_mul_temp)
print(uranus_avg_div_temp)


# COMPARISON OPERATORS
uranus_radius = 25362  # in km
earth_radius = 6371
print(uranus_radius == earth_radius)
print(uranus_radius != earth_radius)
print(uranus_radius > earth_radius)
print(uranus_radius < earth_radius)
print(uranus_radius >= earth_radius)
print(uranus_radius <= earth_radius)

# LOGICAL OPERATORS
URANUS_moons = True
URANUS_rings = True
print(URANUS_moons and URANUS_rings)
print(URANUS_moons or URANUS_rings)
print(not(URANUS_moons))
print(not(URANUS_rings))

50724
15343.5
31187
30487
-224
20
0
4
1.0
False
True
True
False
True
False
True
True
False
False

In [75]:
# URANUS AND CONDITIONS
uranus_axialtilt = 100
if uranus_axialtilt > 90:
  print("uranus is tilted on its right side")
else:
  print("it rotates more upright")

uranus_distance = 150
earth_distance = 2871
if uranus_distance > earth_distance:
  print("uranus has greater distance than earth")
elif uranus_distance == earth_distance:
  print("they have same distance")
else:
  print("earth has greater distance")

uranus is tilted on its right side
earth has greater distance

In [77]:
# URANUS AND LOOPS
for i in range(10):
  print("uranus is a blue planet")

for i in range(5):
  print("uranus has 28 moons")

# WHILE LOOPS
U_moons = 28
while U_moons >0:
  U_moons -= 1
  print("uranus has 28 moons")

uranus is a blue planet
uranus is a blue planet
uranus is a blue planet
uranus is a blue planet
uranus is a blue planet
uranus is a blue planet
uranus is a blue planet
uranus is a blue planet
uranus is a blue planet
uranus is a blue planet
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons
uranus has 28 moons

In [5]:
# URANUS AND FUNCTIONS
def uranus_planet():
  print("uranus is the seventh planet from the sun")
uranus_planet()

def uranus_moons():
  print("uranus has 28 moons")
uranus_moons()

uranus is the seventh planet from the sun
uranus has 28 moons

In [78]:
# NEPTUNE AND DATA TYPES

# STRING
NEPTUNE = "Neptune is the eighth and farthest-known planet from the Sun in the Solar System."
print(NEPTUNE)

# INTEGER
neptune_avg_diam = 30775
print(neptune_avg_diam)

# FLOAT
neptune_AU = 30.0
print(neptune_AU)

# BOOLEAN
neptune_moons = True
print(neptune_moons)

Neptune is the eighth and farthest-known planet from the Sun in the Solar System.
30775
30.0
True

In [93]:
# NEPTUNE INPUT AND TYPE CASTING

# STRING
neptune_planet = input("Enter the name of the planet that is farthest away from sun: ")
print(neptune_planet)

# FLOAT
neptune_AU = float(input("Enter the AU of the planet: "))
print(neptune_AU)

# INTEGER
neptune_diam = int(input("Enter the diameter of the planet: "))
print(neptune_diam)

# BOOLEAN
neptune_moons = bool(input("does neptune has moons? "))
print(neptune_moons)

Enter the name of the planet that is farthest away from sun: Neptune
Neptune
Enter the AU of the planet: 30.0
30.0
Enter the diameter of the planet: 30775
30775
does neptune has moons? yes
True

In [80]:
# NEPTUNE AND OPERATIONS

# ARITHMETIC OPERATORS
neptune_radius = 24622  # in km
neptune_orbit_days = 60190  # days to orbit the Sun

diameter_neptune = neptune_radius * 2  # Multiplication
half_orbit = neptune_orbit_days / 2  # Division
increased_orbit = neptune_orbit_days + 1000  # Addition
reduced_orbit = neptune_orbit_days - 500  #

print(diameter_neptune)
print(half_orbit)
print(increased_orbit)
print(reduced_orbit)

# ASSIGNMENT OPERATORS
neptune_avg_temp = -214  # in Celsius
neptune_avg_Add_temp = 10
neptune_avg_Sub_temp = 10
neptune_avg_Mul_temp = 10
neptune_avg_Div_temp = 10

neptune_avg_Add_temp += 10  # Increase by 10
neptune_avg_Sub_temp -= 10
neptune_avg_Mul_temp *= 10
neptune_avg_Div_temp /= 10

print(neptune_avg_temp)
print(neptune_avg_Add_temp)
print(neptune_avg_Sub_temp)
print(neptune_avg_Mul_temp)
print(neptune_avg_Div_temp)

# COMPARISON OPERATORS
neptune_radius = 24622  # in km
earth_radius = 6371
print(neptune_radius == earth_radius)
print(neptune_radius != earth_radius)
print(neptune_radius > earth_radius)
print(neptune_radius < earth_radius)
print(neptune_radius >= earth_radius)
print(neptune_radius <= earth_radius)

# LOGICAL OPERATORS
neptune_moons = True
neptune_rings = True
print(neptune_moons and neptune_rings)
print(neptune_moons or neptune_rings)
print(not(neptune_moons))
print(not(neptune_rings))

49244
30095.0
61190
59690
-214
20
0
100
1.0
False
True
True
False
True
False
True
True
False
False

In [81]:
# NEPTUNE AND CONDITIONS
NEPTUNE_WINDS = 1000
if NEPTUNE_WINDS > 2000:
  print("neptune has fast winds")
else:
  print("they are not strongest")

neptune_temp = -214  # in Celsius

if neptune_temp < -220:
    print("Neptune is extremely cold.")
elif neptune_temp == -214:
    print("Neptune's temperature is -214°C, which is very cold.")
else:
    print("Neptune is not as cold as expected.")

they are not strongest
Neptune's temperature is -214°C, which is very cold.

In [2]:
# NEPTUNE AND LOOPS

# FOR LOOPS
for i in range(3):
  print("neptune is icy blue")

name = "Neptune"
for x in range(5):
  print(name)

# WHILE LOOPS
count = 0
while count < 10:
  print("neptune is the farthest planet")
  count += 1

neptune is icy blue
neptune is icy blue
neptune is icy blue
Neptune
Neptune
Neptune
Neptune
Neptune
neptune is the farthest planet
neptune is the farthest planet
neptune is the farthest planet
neptune is the farthest planet
neptune is the farthest planet
neptune is the farthest planet
neptune is the farthest planet
neptune is the farthest planet
neptune is the farthest planet
neptune is the farthest planet

In [94]:
# NEPTUNE AND FUNCTIONS
def neptune_planet():
  print("neptune is the most distant planet")

neptune_planet()

def neptune_characteristic():
  print("neptune is icy giant planet")
neptune_characteristic()

neptune is the most distant planet
neptune is icy giant planet